<div class="bg-rose-200 flex justify-between items-center">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col items-center border-t border-white pt-6">
      <!-- nav - start -->
      <nav class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6">
      <%= link_to "利用規約", "#", class: "text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700" %>
      <%= link_to "プライバシーポリシー", "#" , class: "text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700" %>
      </nav>
      <!-- nav - end -->

      <!-- social - start -->
  <div class="flex gap-4">
    <a href="https://twitter.com/home" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg>
    </a>
  </div>
      <!-- social - end -->
    </div>

    <div class="py-5 text-center text-sm text-gray-400">© 2024 - もぐもぐタイマー</div>
  </footer>
</div>