<div class="flex flex-col justify-center items-center min-h-screen bg-red-50">
  <div class="text-3xl text-center font-mono text-sky-900 p-6">
    通知設定
  </div>
  <div class="w-full max-w-sm mx-auto">
    <div class="flex flex-col items-center p-10 bg-white rounded-2xl shadow-xl text-center ">
      <%= form_with model: @notification_setting, local: true do |form| %>
        <div class="mb-2 flex flex-col items-center w-full justify-center">
          <%= form.time_field :preferred_time, id: "edit_data", step: 1800, class: "block text-sky-900 mb-2 text-2xl text-center w-full" %>
          <datalist id="edit_data"></datalist>
        <div class="text-center mt-3">
        <%= form.submit "更新", class: "px-6 py-2 border rounded text-sky-900 border-gray-400 hover:bg-red-100 focus:outline-none font-mono" %>
        </div>
      </div>
      <% end %>
      <script>
        const editDataList = document.getElementById('edit_data');
        for (let hour = 0; hour < 24; hour++) {
          for (let minute = 0; minute < 60; minute += 30) {
            const value = `${String(hour).padStart(2, '0')}:${String(minute).padStart(2, '0')}`;
            const option = document.createElement('option');
            option.value = value;
            editDataList.appendChild(option);
          }
        }
      </script>
    </div> 
  </div>
</div>
