<body>
  <div class="flex h-screen justify-center items-center bg-red-50">
    <%= column_chart @formatted_durations, colors:["#ff6347"], width: "900px", height: "400px", suffix: "h"%>
  </div>
</body>
